<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PandaSearch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quicksearch.css') }}">

    

    {% endblock head %}
</head>
<body>
    <div class="navbar">
        <img src="../static/images/icon.png">
    </div>
    <header>
        
    </header>

    <main>
        
    {% block search_bar %}
        <div class="Search">
            <h2>Products</h2>
            <div class="Search_bar">
            <form action="/search" method="get" id="search_form" >
                <input type="text" id="search" name="item" placeholder="" maxlength="30" autocomplete="off">
                
            </form>
            <!-- Content for your web page goes here -->
            </div>
        </div>
            {% if brands %}
                <h3 id="qs_h3">Quick Search</h3>
                    <div class="quick_search">
                    <li id="brand"><a href="/search?item=all">All</a></li>
                    {% for brand in brands%}
                        <li id="brand"><a href="/search?item={{brand}}">{{brand.title()}}</a></li>
                    {% endfor %}
                    </div>
            {% endif %}
    {% endblock %}

                
   

    {% block content %} <!--block of content in <main>-->


    {% endblock%} 
    
    </main>

    <footer>
        <!-- Footer content goes here -->
        <p></p>
    </footer>
{%block scripts%}

{% endblock %}


</body>

</html>
